:root {
    --primary: #9163CB;
    --dark: #6247AA;
    --light: #DAC3E8;
    --white: #FAFAFA;
    --black: #0B0A0A;
    --gray: #282426;
    --light-gray: #e9e9e9;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--black);
    /* width: auto; */
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5em;
    color: var(--dark);
    margin: 0;
    margin-bottom: 0.2em;
    font-weight: 900;
}

li {
    list-style: none;
    display: inline;
}

fieldset {
    border: none;
}

label {
    color: var(--primary);
    font-weight: 600;
}

input {
    width: 34em;
}

input,
select {
    background-color: var(--light-gray);
    display: block;
    margin-top: 0.5em;
    border: none;
    border-bottom: 2px solid #D3D3D3;
    height: 3em;
    outline: none;
    padding: 0 1em;
}

select {
    width: 36em;
    cursor: pointer;
}

input:focus {
    border-bottom: 2px solid var(--dark);
    transition: linear 0.5s;
}

select option:checked {
    color: blue;
    background-color: red;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.challenge {
    justify-content: space-around;
    width: 85%;
    row-gap: 3em;
}

.header,
.init,
.register_area {
    margin: 0 auto;
    width: 85%;
}

.logo_header {
    width: 16em;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_links {
    display: flex;
}

.navbar_link {
    color: var(--dark);
    font-weight: 700;
    font-size: 1.2em;
    padding: 1em;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--dark);
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--dark);
    margin-top: 5px;
}

/* Button */
.btn {
    padding: 1em;
    border: 1px solid var(--dark);
    border-radius: 0.5em;
    color: var(--dark);
    font-weight: 700;
    background-color: var(--white);
    cursor: pointer;
    max-width: 16em;
}

.btn:hover {
    color: var(--white);
    background-color: var(--dark);
    transition: all 0.5s;
}

.init {
    gap: 3em;
}

.init_description {
    width: 60%;
}

/* Main container */
.main {
    margin-top: 3em;
    flex-direction: column
}

.main>section {
    margin-bottom: 2em;
}

.init div p,
.description p {
    margin: 0;
}

/* About container */
.container_bg_color {
    width: 100%;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.challenge .container article p,
.init_description p,
.description span,
.description p {
    font-size: 1.2em;
}

/* images */
.lottie_img {
    width: 40vw;
}

.logo_about {
    width: 31vw;
}

.register_img {
    width: 42vw;
}

.logo_footer {
    width: 24em;
}

.cube_img {
    width: 20em;
}

.about {
    width: 85%;
    padding: 5em;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    column-gap: 8em;
}

.challenge {
    flex-direction: column;
}

.hour_container {
    margin-top: 2em;
    background-color: var(--dark);
    border-radius: 16px;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.25);
    padding: 2em;
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    gap: 1em;
}

.hour_title {
    color: var(--white);
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    flex-wrap: wrap;
}

.countdown>div {
    background-color: var(--white);
    border-radius: 16px;
    width: 6em;
    height: 6em;
}

.countdown div p {
    font-size: 0.8em;
    margin-left: 1em;
    margin-top: 1em;
}

.countdown div>div {
    font-weight: 600;
    text-align: center;
    font-size: 2.5em;
    margin-top: 0.1em;
}

.awards_container {
    padding: 2em 0;
    flex-direction: column;
}

.awards {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 12em;
    padding: 2em;
}

.awards div {
    text-align: center;
}

.awards div img {
    max-width: 10em;
    max-height: 10em;
}

.awards p {
    font-weight: 600;
    color: var(--dark);
}

/* Register container */
.register_area {
    margin: 2em 0;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 1em;
}

.register_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn_res {
    margin-top: 2em;
}

/* Footer */
.footer {
    padding: 2em 0;
    background-color: var(--gray);
    color: var(--white);
    flex-direction: column;
    width: 100%;
}

.footer_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.footer_link {
    border-radius: 100%;
    padding: 0.8em;
    border: 2px solid var(--white);
}

.link_whatsapp:hover {
    background-color: #27CA37;
    transition: all 0.4s ease;
    animation: 0.8s linear;
}

.link_instagram:hover {
    background-color: #D84177;
    transition: all 0.4s ease;
    animation: 0.8s linear;
}

.link_mail:hover {
    background-color: #C60F0F;
    transition: all 0.4s ease;
    animation: 0.8s linear;
}

.footer>p {
    margin-top: 2em;
}

/* Dispositivos menores */
@media screen and (max-width: 930px) {
    .register_img {
        display: none;
    }

    .awards {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    input {
        width: 28em;
    }
    select {
        width: 30em;
    }

    .hamburger {
        display: block;
        z-index: 10;
        border-top: 3px solid var(--dark);
    }

    .navbar.active .hamburger {
        display: block;
        z-index: 1;
        border-top: 3px solid var(--white);
    }

    .navbar.active .hamburger::before,
    .navbar.active .hamburger::after {
        background-color: var(--white);
    }
    
    .navbar.active .navbar_links {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .navbar.active .navbar_links .navbar_link {
        color: var(--white);
    }

    .navbar_links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--dark);
        clip-path: circle(30px at 90% -15%);
        transition: 1s ease-in-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .logo_about,
    .cube_img {
        display: none;
    }

    .footer_links {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .social_media_links {
        flex-wrap: wrap;
    }

    .about,
    /* .awards, */
    .hour_container,
    .footer {
        flex-wrap: wrap;
    }
}

/* Celulares */
@media screen and (max-width: 600px) {
    input {
        width: 24em;
    }
    select {
        width: 26em;
    }

    .init {
        flex-wrap: wrap-reverse;
    }

    .about {
        justify-content: center;
        /* align-items: center; */
    }

    .description {
        margin: 0;
    }

    .logo_footer {
        width: 20em;
    }
}